.container {
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.heading {
  background-color: #467184;
  padding: 10px 15px;
  color: white;
  width: fit-content;
  margin: 0 auto;
  border-radius: 20px;
}

.chart {
  
}

.iconContainer {
  color: #467184;
  width: 100%;
  display: flex;
  justify-content: right;
}


.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  height: 50%;
  width: 75%;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 11.5%;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: all .5s;
}

.icon:hover + .tooltiptext {
  height: 80%;
  visibility: visible;
  opacity: 1;
}



