.container {
  width: 95%;
  margin: auto;
  padding-top: 30px; /*Issue when doing margin; */
}

.statsSection {
  display: flex;
  justify-content: space-between;
}

.main {
  height: 78vh;
}

.topSection {
  display: flex;
}
