.container {
  width: 95%;
  margin: auto;
  padding-top: 30px; /*Issue when doing margin; */
}

.statsContainer {
  display: flex;
  justify-content: space-between;
}

.main {
  height: 85vh;
}
