.margin {
  margin-top: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

form div > label {
  color: #2f4a59;
}

form input[type="text"],
form input[type="month"],
.select {
  width: 90%;
  height: 29px;
  border: 2px solid #f3f3f3;
  border-radius: 8px;
  margin-top: 3%;
}

form input[type="text"]::placeholder {
  color: rgba(215, 215, 215, 0.6);
}

.computeBtn {
  margin-top: 15px;
  text-align: center;
}

/*biodiversity*/

.container2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.biodiversityContainer {
  font-weight: bold;
  display: flex;
  color: #2f4a59;
}

.icon {
  margin-left: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  transition: all 0.5s;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  bottom: 100%;

  visibility: visible;
  opacity: 1;
}

.info {
  height: 12px;
}

.span {
  color: #f3f3f3;
}
