.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}

.container > div > span {
  color: #467184;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15%;
}

.container > div:last-child {
  display: inline;
}

/* .container > div > h4 {
  margin: 15px 0;
} */

.btnContainer {
  margin-top: 20px;
  text-align: center;
}
