.container {
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  height: 100%;
  color: #536a74;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.smallHeading {
  margin-top: 25px;
}

.paragraph {
  margin-top: 20px;
}

.reportBtn {
  text-align: right;
  margin-top: 30px;
}

