.container {
  width: 100%;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.chartCont {
  width: 35%;
}

.cont2 {
  width: 55%;
}

.chart {
  width: 100%;
}



.container3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.sec1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.score {
  border: 2px solid #e4a11b;
  border-radius: 20px;
  padding: 5px 10px;
  color: #e4a11b;
}

.impact {
  color: #757575;
  font-weight: bold;
  font-size: medium;
}

.sec2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.sec2 > div {
  display: flex;
  justify-content: space-between;
}

.sec2 > div > span {
  margin-top: 25px;
}
