.container {
  width: 100%;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.chartCont {
  width: 35%;
}

.cont2 {
  width: 55%;
}

.chart {
  width: 100%;
}

.sec1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.risk {
  margin: 15px 0;
  color: #2f4a59;
  font-size: x-large;
}

.redCircle {
  color: red;
}

.yellowCircle {
  color: yellow;
}

.greenCircle {
  color: green;
}

.smallSec {
  display: flex;
  gap: 5px;
}

.sec2 {
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
}

.score {
  border: 2px solid #e4a11b;
  border-radius: 20px;
  padding: 5px 10px;
  color: #e4a11b;
}

.impact {
  color: #757575;
  font-weight: bold;
  font-size: medium;
}
