.margin {
  margin-top: 15px;
}

.container {
  width: 296px;
  display: flex;
  justify-content: center;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}

form div > label {
  font-weight: 500;
  font-size: 11px;
  color: #2f4a59;
}

form input[type="text"] {
  width: 227px;
  height: 29px;
  border: 2px solid #f3f3f3;
  border-radius: 8px;
  margin-top: 6px;
  font-size: 11px;
  font-weight: 500;
}

form input[type="text"]::placeholder {
  color: rgba(215, 215, 215, 0.6);
  font-weight: 500;
}

.buttons {
  margin-top: 29px;
  text-align: center;
}

.buttons input {
  width: 202px;
  height: 29px;
  border-radius: 8px;
  border: none;
}

.computeBtn {
  margin-top: 11px;
}

.computeBtn input {
  background: #467184;
  color: white;
}

.evaluateBtn input {
  color: #2f4a59;
  background: rgba(157, 183, 226, 0.3);
}
