.footer {
  width: 100%;
  height: 7vh;
  background-color: white;
  margin-top: auto;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
