.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.header {
  background-color: #f3f3f3;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 46px 36px;
}

.link {
  color: #2f4a59;
  font-weight: 700;
  font-size: 23px;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid #2f4a59;
  color: #2f4a59;
  font-weight: 700;
  font-size: 23px;
  text-decoration: none;
}

.logo {
  width: 187px;
}
