.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  height: 100%;
  align-items: center;
}

.header {
  background-color: white;
  height: 15vh;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav ul li {
  list-style-type: none;
  position: relative;
}



.li::after {
  content: '';
  height: 3px;
  width: 0;
  background-color: #2f4a59;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: .5s;
}

.li:hover::after {
  width: 100%;
}

.link {
  color: #2f4a59;
  font-weight: 700;
  font-size: 1.3vw;
  text-decoration: none;
}


.active {
  color: #2f4a59;
  font-weight: 700;
  font-size: 1.3vw; /*23px*/
  text-decoration: none;
  cursor: not-allowed;
}

.active::after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #2f4a59;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.linkSignUp {
  border-bottom: 2px solid #d9d9d9;
  background-color: #ecf1fa;
  border-radius: 20px;
  padding: 7px;
  color: #2f4a59;
  font-weight: 700;
  font-size: 1.3vw; /*23px*/
  text-decoration: none;
}

.logo {
  width: 187px;
}

.signInIcon {
  width: 15px;
  margin-left: 5px;
}
