/*
Slider thumb  color
*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
}

.red> input::-webkit-slider-thumb {
  background: red;
}

.yellow > input::-webkit-slider-thumb {
  background: yellow;
}

.green > input::-webkit-slider-thumb {
  background: green;
}

.slider {
  display: inline;
}

.slider > input {
  overflow: hidden;
  height: 15px;
  width: 8vw;
  -webkit-appearance: none;
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
}

.sliderContainer {
  height: 25px;
  width: 8vw;
  position: relative;
}

.optimal {
  transform: translate(-50%, 0%);
  position: absolute;
  display: inline;
  display: flex;
  flex-direction: column;
}

.slider > input::-webkit-slider-thumb {
  border-radius: 100%;
}

.red::-webkit-slider-thumb {
  box-shadow: -100px 0 0 90px red;
}

.green::-webkit-slider-thumb {
  box-shadow: -100px 0 0 90px green;
}

.yellow::-webkit-slider-thumb {
  box-shadow: -100px 0 0 90px yellow;
}

@media only screen and (max-width: 992px) {
  .slider > input {
    width: 100%;
  }

  .sliderContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .slider > input {
    width: 100px;
  }
  
  .sliderContainer {
    width: 100px;
  }


 
}
